{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery.slider.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style_custom.css' %}" type="text/css">
{% endblock %}

{% block cssbody %}page-sub-page page-profile page-account{% endblock %}

{% block content %}
    <!-- Breadcrumb -->
    <div class="container mtopfix">
        <ol class="breadcrumb">
            <li><a href="{% url 'go_home' %}">{% trans 'Home' %}</a></li>
            <li class="active">{% trans 'Sign Out' %}</li>
        </ol>
    </div>
    <!-- end Breadcrumb -->

    <div class="container">
        <header><h1>{% trans 'Sign Out' %}</h1></header>
        <div class="row">
            <p align="center">{% trans 'Are you sure you want to sign out?' %}</p>

            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
                    {% endif %}
                    <button type="submit" class="btn btn-default">{% trans 'Sign Out' %}</button>
                </form>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->

{% endblock %}
