{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery.slider.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style_custom.css' %}" type="text/css">
{% endblock %}

{% block cssbody %}page-sub-page page-profile page-account{% endblock %}

{% block content %}
    <!-- Breadcrumb -->
    <div class="container mtopfix">
        <ol class="breadcrumb">
            <li><a href="{% url 'go_home' %}">{% trans 'Home' %}</a></li>
            <li class="active">{% trans "Change Password" %}</li>
        </ol>
    </div>
    <!-- end Breadcrumb -->

    <div class="container">
        <header><h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1></header>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action=".">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" name="action" class="btn pull-right btn-default" value="{% trans "Change password" %}"/>
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->

{% endblock %}
