{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}List{% endblock %}

{% block js %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery.slider.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style_custom.css' %}" type="text/css">
{% endblock %}

{% block cssbody %}page-sub-page page-listing-lines page-search-results{% endblock %}

{% block content %}

    <!-- Breadcrumb -->
    <div class="container mtopfix1">
        <ol class="breadcrumb">
            <li><a href="{% url 'go_home' %}">{% trans 'Home' %}</a></li>
            <li class="active">{% trans 'Property Listing' %}</li>
        </ol>
    </div>

    <!-- end Breadcrumb -->

    <div class="container">
        <div class="row">
            <!-- Results -->
            <div class="col-md-9 col-sm-9">
                <section id="results">
                    <header><h1>Properties Listing</h1></header>
                    <section id="search-filter">
                        <figure><h3><i class="fa fa-search"></i>Search Results:</h3>
                            <span class="search-count">28</span>
                            <div class="sorting">
                                <div class="form-group">
                                    <select name="sorting">
                                        <option value="">Sort By</option>
                                        <option value="1">Lowest price first</option>
                                        <option value="2">Highest price first</option>
                                        <option value="3">Date added</option>
                                    </select>
                                </div><!-- /.form-group -->
                            </div>
                        </figure>
                    </section>
                    <section id="properties" class="display-lines">
                        {% for p_basic in property_basic %}
                        <div class="property">
                            <figure class="tag status">{{ p_basic.status }}</figure>
                            <figure class="type" title="{{ p_basic.type }}"><img src="{% static 'img/property-types/apartment.png' %}"></figure>
                            <div class="property-image">
                                {% comment %}
                                <figure class="ribbon">In Hold</figure>
                                {% endcomment %}
                                <a href="{% url 'go_property_detail' slug=p_basic.slug %}">
                                    <img alt="" src="{% static 'img/properties/property-01.jpg' %}">
                                </a>
                            </div>
                            <div class="info">
                                <header>
                                    <a href="{% url 'go_property_detail' slug=p_basic.slug %}"><h3>{{ p_basic.title }}</h3></a>
                                    <figure>{{ p_basic.state }}, {{ p_basic.country }} {{ p_basic.zip_code }}</figure>
                                </header>
                                <div class="tag price">$ {{ p_basic.price }}</div>
                                <aside>
                                    <p>{{ p_basic.description }}</p>
                                    <dl>
                                        <dt>Status:</dt>
                                            <dd>{{ p_basic.status.title }}</dd>
                                        <dt>Area:</dt>
                                            <dd>{{ p_basic.area }} m<sup>2</sup></dd>
                                        <dt>Beds:</dt>
                                            <dd>{{ p_basic.bedroom }}</dd>
                                        <dt>Baths:</dt>
                                            <dd>{{ p_basic.bathroom }}</dd>
                                    </dl>
                                </aside>
                                <a href="{% url 'go_property_detail' slug=p_basic.slug %}" class="link-arrow">Read More</a>
                            </div>
                        </div><!-- /.property -->
                        {% endfor %}
                        {% comment %}
                        <div class="property">
                            <figure class="type" title="House Boat"><img src="assets/img/property-types/houseboat.png"></figure>
                            <div class="property-image">
                                <a href="property-detail.html">
                                    <img alt="" src="assets/img/properties/property-03.jpg">
                                </a>
                            </div>
                            <div class="info">
                                <header>
                                    <a href="property-detail.html"><h3>987 Cantebury Drive</h3></a>
                                    <figure>Golden Valley, MN 55427</figure>
                                </header>
                                <div class="tag price">$ 38,000</div>
                                <aside>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                                        bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
                                    </p>
                                    <dl>
                                        <dt>Status:</dt>
                                        <dd>Sale</dd>
                                        <dt>Area:</dt>
                                        <dd>860 m<sup>2</sup></dd>
                                        <dt>Beds:</dt>
                                        <dd>3</dd>
                                        <dt>Baths:</dt>
                                        <dd>2</dd>

                                    </dl>
                                </aside>
                                <a href="property-detail.html" class="link-arrow">Read More</a>
                            </div>
                        </div><!-- /.property -->
                        <div class="property no-border">
                            <figure class="type" title="Single Family"><img src="assets/img/property-types/single-family.png"></figure>
                            <figure class="tag status">For Rent</figure>
                            <div class="property-image">
                                <a href="property-detail.html">
                                    <img alt="" src="assets/img/properties/property-02.jpg">
                                </a>
                            </div>
                            <div class="info">
                                <header>
                                    <a href="property-detail.html"><h3>2479 Murphy Court</h3></a>
                                    <figure>Minneapolis, MN 55402 </figure>
                                </header>
                                <div class="tag price">$ 100,000</div>
                                <aside>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                                        bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
                                    </p>
                                    <dl>
                                        <dt>Status:</dt>
                                        <dd>Sale</dd>
                                        <dt>Area:</dt>
                                        <dd>860 m<sup>2</sup></dd>
                                        <dt>Beds:</dt>
                                        <dd>3</dd>
                                        <dt>Baths:</dt>
                                        <dd>2</dd>

                                    </dl>
                                </aside>
                                <a href="property-detail.html" class="link-arrow">Read More</a>
                            </div>
                        </div><!-- /.property -->
                        {% endcomment %}

                        <section id="advertising">
                            <a href="submit.html">
                                <div class="banner">
                                    <div class="wrapper">
                                        <span class="title">Do you want your property to be listed here?</span>
                                        <span class="submit">Submit it now! <i class="fa fa-plus-square"></i></span>
                                    </div>
                                </div><!-- /.banner-->
                            </a>
                        </section><!-- /#adveritsing-->

                        <div class="property">
                            <figure class="tag status">For Sale</figure>
                            <figure class="type" title="Garage"><img src="{% static 'img/property-types/garage.png' %}"></figure>
                            <div class="property-image">
                                <a href="property-detail.html">
                                    <img alt="" src="{% static 'img/properties/property-05.jpg' %}">
                                </a>
                            </div>
                            <div class="info">
                                <header>
                                    <a href="property-detail.html"><h3>3542 Bryan Street</h3></a>
                                    <figure>Lexington, NC 27292 </figure>
                                </header>
                                <div class="tag price">$ 75,000</div>
                                <aside>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                                        bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
                                    </p>
                                    <dl>
                                        <dt>Status:</dt>
                                        <dd>Sale</dd>
                                        <dt>Area:</dt>
                                        <dd>860 m<sup>2</sup></dd>
                                        <dt>Beds:</dt>
                                        <dd>3</dd>
                                        <dt>Baths:</dt>
                                        <dd>2</dd>
                                    </dl>
                                </aside>
                                <a href="property-detail.html" class="link-arrow">Read More</a>
                            </div>
                        </div><!-- /.property -->
                        {% comment %}
                        <div class="property">
                            <figure class="tag status">For Sale</figure>
                            <figure class="type" title="Apartment"><img src="assets/img/property-types/apartment.png"></figure>
                            <div class="property-image">
                                <a href="property-detail.html">
                                    <img alt="" src="assets/img/properties/property-06.jpg">
                                </a>
                            </div>
                            <div class="info">
                                <header>
                                    <a href="property-detail.html"><h3>2186 Rinehart Road</h3></a>
                                    <figure>Doral, FL 33178</figure>
                                </header>
                                <div class="tag price">$ 238,000</div>
                                <aside>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                                        bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
                                    </p>
                                    <dl>
                                        <dt>Status:</dt>
                                        <dd>Sale</dd>
                                        <dt>Area:</dt>
                                        <dd>860 m<sup>2</sup></dd>
                                        <dt>Beds:</dt>
                                        <dd>3</dd>
                                        <dt>Baths:</dt>
                                        <dd>2</dd>
                                    </dl>
                                </aside>
                                <a href="property-detail.html" class="link-arrow">Read More</a>
                            </div>
                        </div><!-- /.property -->
                        <div class="property">
                            <figure class="type" title="Villa"><img src="assets/img/property-types/villa.png"></figure>
                            <div class="property-image">
                                <a href="property-detail.html">
                                    <img alt="" src="assets/img/properties/property-08.jpg">
                                </a>
                            </div>
                            <div class="info">
                                <header>
                                    <a href="property-detail.html"><h3>1949 Tennessee Avenue</h3></a>
                                    <figure>Westland, MI 48185 </figure>
                                </header>
                                <div class="tag price">$ 38,000</div>
                                <aside>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                                        bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
                                    </p>
                                    <dl>
                                        <dt>Status:</dt>
                                        <dd>Sale</dd>
                                        <dt>Area:</dt>
                                        <dd>860 m<sup>2</sup></dd>
                                        <dt>Beds:</dt>
                                        <dd>3</dd>
                                        <dt>Baths:</dt>
                                        <dd>2</dd>

                                    </dl>
                                </aside>
                                <a href="property-detail.html" class="link-arrow">Read More</a>
                            </div>
                        </div><!-- /.property -->
                        {% endcomment %}

                        <!-- Pagination -->
                        <div class="center">
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul><!-- /.pagination-->
                        </div><!-- /.center-->
                    </section><!-- /#properties-->
                </section><!-- /#results -->
            </div><!-- /.col-md-9 -->
            <!-- end Results -->

            {% include "sidebar/sidebar_right.html" %}

        </div><!-- /.row -->
    </div><!-- /.container -->

{% endblock %}

{% block footer_before %}
    {% include 'footer_before.html' %}
{% endblock %}

{% block js_bottom %}
    <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/smoothscroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/retina-1.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jshashtable-2.1_src.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.numberformatter-1.2.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tmpl.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dependClass-0.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/draggable-0.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.slider.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <!--[if gt IE 8]>
    <script type="text/javascript" src="{% static 'js/ie.js' %}"></script>
    <![endif]-->
{% endblock %}